@model IEnumerable<Vertragsmanagement.Models.ContractPartner>

@{
    ViewBag.Title = "Vertragspartnerübersicht";
    Layout = "~/Views/CoreData/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="clearfix">
                <b>Vertragspartnerübersicht</b>
                @Html.ActionLink("Vertragspartner erstellen", "CreateContractPartner", "CoreData", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-success pull-right" })
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="ContractPartnersTable" class="table table-striped display nowrap" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.accountNumbre)</th>
                    <th>@Html.DisplayNameFor(model => model.name)</th>
                    <th class="all">Aktionen</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.accountNumbre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.ActionLink(" ", "EditContractPartner", "CoreData", new {accountNumbre = item.accountNumbre}, new {data_modal = "", @class = "btn btn-warning glyphicon glyphicon-pencil", @data_toggle = "popover", @data_content = "Bearbeiten" })
                            @Html.ActionLink(" ", "DeleteContractPartner", "CoreData", new { accountNumbre = item.accountNumbre}, new {data_modal = "", @class = "btn btn-danger glyphicon glyphicon-trash", @data_toggle = "popover", @data_content = "Löschen" })
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>