@model Vertragsmanagement.Models.ContractSubcategory

@{
    ViewBag.Title = "Vertragsunterkategorie erstellen";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Vertragsunterkategorie erstellen</h4>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.name, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.categoryID, ViewBag.selectCategory as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Abbrechen</button>
        <input class="btn btn-primary" type="submit" value="Erstellen" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
