@model Vertragsmanagement.ViewModels.CostCentresViewModel
@{
    ViewBag.Title = "Kostenstellen";
}

<div class="col-md-2">
</div>
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <b>Die Kosten des Vertrages @Model.contract.titel teilen sich auf folgende Kostenstellen auf.</b>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <b>Kostenstellen</b>
                            </div>
                        </div>
                        <table class="table table-responsive">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Kostenanteil</th>
                                <th></th>
                            </tr>
                            @{ int i = 1; }
                            @foreach (var item in Model.costCentresOfContract)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.costCentre.describtion</td>
                                    <td>@item.percentage<text> %</text></td>
                                    <td align="right"><a href="~/Contract/DeleteCostCentreFromContract/@Model.contract.intID?costCentreDivideID=@item.ID" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
                                </tr>
                                i = i + 1;
                            }
                        </table>
                    </div>
                    @if (Model.allCostCentres.Count() != 0)
                    {
                        <form class="form-inline" action="/Contract/costCentres/@Model.contract.intID" method="post">
                            <div class="form-group">
                                <label>Kostenstelle hinzufügen: </label>
                                <select class="form-control" id="costCentreID" name="costCentreID">
                                    @foreach (var item in Model.allCostCentres)
                                    {
                                        <option value="@item.ID">@item.describtion</option>
                                    }
                                </select>
                                <div class="input-group">
                                    <input class="form-control" type="text" id="percentage" name="percentage"/>
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                            <div class="form-group pull-right">
                                @Html.ActionLink("Zurück zur Übersicht", "Index", "Contract", null, new {@class = "btn btn-primary"})
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
</div>